<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <p class="text-uppercase">
            &copy; Copyright 2025 SkyHaven Group, All rights reserved.
            <i class="bi-dot"></i>
            <a href="https://agtechalchemy.substack.com">AGTECH ALCHEMY</a>
            <i class="bi-dot"></i>
            <a href="mailto:info@skyhavengroup.com">Contact SkyHaven Group</a>
        </p>
    </div>
</footer>