<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/">
        SKYHAVEN<span style="color: #3498db">GROUP</span></a>
</a>
<button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ '/' | url }}">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ '/expertise' | url }}">EXPERTISE</a>
        </li>
    </ul>
</div>
</nav>