---
layout: layouts/base.njk
title: Home
---

<main role="main">
    <div
        class="jumbotron"
        style="
            background-image: url('/assets/hero.webp');
            background-position: center;
            background-size: cover;
        "
    >
        <div class="container">
            <div class="row">
                <div
                    class="col-md-6"
                    style="
                        color: #000;
                        background-color: rgba(214, 234, 247, 0.9);
                        padding: 20px;
                        border-radius: 10px;
                    "
                >
                    <!-- Mission Section -->
                    <h1
                        class="mission-title text-uppercase"
                        style="color: #000"
                    >
                        We're on a mission to redefine business leadership &amp;
                        unleash digital innovation built on extensive
                        operational experience.
                    </h1>
                    <p class="mission-body">
                        Our fractional C-suite team of digital natives who fuse
                        decades of operational excellence with unstoppable
                        energy, turning breakthrough innovation into real-world
                        success. We move an organization beyond pen and paper
                        into results.
                    </p>
                </div>
                <!--<div class="col-md-6">
                    <img
                        src="/assets/hero.webp"
                        alt="SkyHaven Group Logo"
                        class="img-fluid"
                        style="
                            width: 350px;
                            border-radius: 1%;
                            object-fit: cover;
                        "
                    />
                </div>-->
            </div>
        </div>
    </div>
</main>

<div class="container">
    <div>
        <h6 style="color: #c1c1c1">
            RHISHI PETHE <i class="bi-dot"></i> MICHAEL OTT
            <i class="bi-dot"></i>
            Data &amp; AI Expert <i class="bi-dot"></i> Digital Strategist
        </h6>
    </div>
</div>
